/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#lbl_1 {
	-fx-border-color: black;
	-fx-border-width: 2.0px;
	-fx-alignment: center;
	-fx-background-color: #eeeeee;
}
	
#lbl_2 {
	-fx-border-color: black;
	-fx-border-width: 2.0px;
	-fx-alignment: center;
	-fx-background-color: #eeeeee;
}